<?xml version="1.0" encoding="utf-8"?>
<AppUpdateConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Version>1.1.2</Version>
  <AppFileName>Heimike.apk</AppFileName>
  <AppDescription>测试更新</AppDescription>
  <DownLoadUrl>update/heimike.apk</DownLoadUrl>
</AppUpdateConfigInfo>