@model IList<OWZX.Model.MD_NewsInfo> 
@{
    ViewBag.Title = "notice";
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>通知公告</title>
    <style>
        * {
            margin: 0;
            border: 0;
            padding: 0;
        }

        .gcon {
            width: 100%;
            height: 100%;
            text-align: center;
            padding-top:10px;
        }

            .gcon .time {
                float: left;
                min-width: 480;
            }

            .gcon img {
                max-width: 90%;
                max-height: 100%;
            }

            .gcon p {
                text-indent: 5%;
                text-align: justify;
                width: 90%;
                margin: 0 auto;
            }
    </style>
    <script type="text/javascript">
	      var phoneWidth =  parseInt(window.screen.width);
	      var phoneScale = phoneWidth/640;
	      var ua = navigator.userAgent;
	      if (/Android (\d+\.\d+)/.test(ua)){
	          var version = parseFloat(RegExp.$1);
	          if(version>2.3){
	              document.write('<meta name="viewport" content="width=640, minimum-scale = ‘+phoneScale+‘, maximum-scale = ‘+phoneScale+‘, target-densitydpi=device-dpi">');
	          }else {
	              document.write('<meta name="viewport" content="width=640, target-densitydpi=device-dpi">');
	          }
	      } else {
	          document.write('<meta name="viewport" content="width=640, user-scalable=no, target-densitydpi=device-dpi">');
	      }
    </script>
</head>
<body>
    <div class="gcon">
        @{
          OWZX.Model.MD_NewsInfo news=  (OWZX.Model.MD_NewsInfo)@Model[0];
            
        }
        <div style="border-bottom:1px solid #ccc;font-size:13px;">@news.Title<br />@news.AddTime.ToString("yyyy-MM-dd HH:mm:ss")
        </div>
        @if(@Model.Count>0)
        {
        @Html.Raw(@news.Body)
        }
        else
        {
            
        }
    </div>
</body>
</html>
