
<div id="headercontent" style="background:#FFF;color: #666;">
    <div id="navs">
        <ul id="navItme">
            <li><a href="/">急速28</a></li>
            <li><a href="/">蛋蛋28</a></li>
            <li><a href="/">蛋蛋36</a></li>
            <li><a href="/">活动专区</a></li>
            <li><a href="/">游戏乐园</a></li>
            <li><a href="/">兑换中心</a></li>
            <li><a href="/">活动专区</a></li>
            <li><a href="/">游戏乐园</a></li>
            <li><a href="/">兑换中心</a></li>
        </ul>
    </div>
<div  style="border-bottom: 2px solid white;"></div>
    <div class="clear"></div>
</div>