<div id="ltheader" style="background:#FFF;color: #666;">
    <div id="ltnavs">
        <ul id="ltItme">
            <li><a href="/"><div>急速28</div></a></li>
            <li><a href="/nwlottery/ltindex/1"><div>蛋蛋28</div></a></li>
            <li><a href="/"><div>蛋蛋36</div></a></li>
            <li><a href="/"><div>加拿大28</div></a></li>
            <li><a href="/"><div>加拿大36</div></a></li>
            <li><a href="/"><div>韩国28</div></a></li>
            <li><a href="/"><div>PK冠军</div></a></li>
            <li><a href="/"><div>PK冠亚军</div></a></li>
            <li><a href="/"><div>蛋蛋龙虎豹</div></a></li>
        </ul>
    </div>
</div>
