<div id="ltheader" style="background:#FFF;color: #666;">
    <div id="ltnavs">
         <ul class="ltItme">
            <li data-type="10"><a href="javascript:tabpage(10)"><div>急速10</div></a></li>
            <li data-type="11"><a href="javascript:tabpage(11)"><div>急速11</div></a></li>
            <li data-type="12"><a href="javascript:tabpage(12)"><div>急速16</div></a></li>
            <li data-type="3"><a href="javascript:tabpage(3)"><div>急速28</div></a></li>
            <li data-type="1"><a href="javascript:tabpage(1)"><div>蛋蛋28</div></a></li>
            <li data-type="4"><a href="javascript:tabpage(4)"><div>蛋蛋36</div></a></li>
            <li data-type="2"><a href="javascript:tabpage(2)"><div>加拿大28</div></a></li>
            <li data-type="5"><a href="javascript:tabpage(5)"><div>加拿大36</div></a></li>
            <li data-type="6"><a href="javascript:tabpage(6)"><div>韩国28</div></a></li>
        </ul>
        <ul class="ltItme"> 
            <li data-type="7"><a href="javascript:tabpage(7)"><div>PK冠军</div></a></li>
            <li data-type="8"><a href="javascript:tabpage(8)"><div>PK冠亚军</div></a></li>
            <li data-type="9"><a href="javascript:tabpage(9)"><div>蛋蛋龙虎豹</div></a></li>
            <li data-type="13"><a href="javascript:tabpage(13)"><div>六合彩</div></a></li>
        </ul>
    </div>
</div>
<script>

    function tabpage(type)
    {
        $("#navItme li").removeClass("hot");
        $(".ltItme li div").removeClass("hot");
        $(".ltItme li").each(function (i, v) {
            if ($(v).data("type") == type) {
                $(v).find("div").addClass("hot");
            }
        });
        $(".content").load("/nwlottery/_tabcommon", { "type": type });
    }
</script>
