@{
    ViewBag.Title = "_ltrule";
}
<table class="con_table table_rule" cellspacing="0" style="border-collapse:collapse;border:1px solid #cacaca;margin-top:10px;" bgcolor="#CACACA">
    <tbody>
        <tr><td colspan="4">采用北京福彩中心快乐8数据，与PC蛋蛋结果相同，每5分钟一期，每天179期，每天0-9点暂停开奖</td></tr>
        <tr>
            <td width="120">如第654574期</td>
            <td colspan="3">02,04,07,08,18,22,25,30,35,36,43,49,50,53,59,66,69,71,74,75</td>

        </tr>
        <tr>
            <td width="120">区位</td>
            <td>第一区[第1/2/3/4/5/6位数字]</td>
            <td>第二区[第7/8/9/10/11/12位数字]</td>
            <td>第三区[第13/14/15/16/17/18位数字]</td>

        </tr>
        <tr>
            <td>数字</td>
            <td>02,04,07,08,18,22</td>
            <td>25,30,35,36,43,49</td>
            <td>50,53,59,66,69,71</td>

        </tr>
        <tr>
            <td>求和</td>
            <td>61</td>
            <td>218</td>
            <td>368</td>

        </tr>
        <tr>
            <td>计算</td>
            <td>取尾数</td>
            <td>取尾数</td>
            <td>取尾数</td>

        </tr>
        <tr>
            <td>结果</td>
            <td><li class="finalbig">1</li></td>
            <td><li class="finalbig">8</li></td>
            <td><li class="finalbig">8</li></td>

        </tr>
        <tr>
            <td>开奖</td>
            <td colspan="3"><li class="finalbig">1</li> + <li class="finalbig">8</li> + <li class="finalbig">8</li> = <li class="finalbig">17</li></td>

        </tr>
    </tbody>
</table>
