@{
    ViewBag.Title = "index";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>错误</title>
    <style>
        #error {
            width: 100%;
            overflow: hidden;
            max-width: 640px;
            margin: 0 auto;
            padding: 40px 0;
        }

            #error img {
                width: 100%;
                height: auto;
            }
    </style>
</head>
<body>
    <div id="error">
        <img src="../images/error/500.jpg" />
    </div>
</body>
</html>
