<?xml version="1.0" encoding="utf-8"?>
<PluginSetInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Partner>2088421544580296</Partner>
  <Key>7oqw2hhfxbvom5r1gn837v4xqq2i7swa</Key>
  <PrivateKey>MIICdgIBADANBgkqhkiG9w0BAQEFAASCAmAwggJcAgEAAoGBALQd0QZ2uURTwqipEQRQDhEPK3Ch6v6dtravaFoX7n4+ib0so2AnDbKboJxT8Uu4/e0RCmreA1d0ok/9kVPtlMwKeGuiP8E2xUsUvoVwg/SMT4U8yX9heb76BIZeNRRMgmkZYq1UsHApv+KOCnnHwXf/ud1fXucf9/irjBXRwznRAgMBAAECgYBwtsf7t4gwzgne6g4QGNj0q/2POoSIWcHhiNtQpfFFZ3ViwPBsV4Qm5WUY7x7tOBMPq75NKioFLKP2UsQDNYYLLQci1q/iCYINdpk6jaxH4yGNTlIO2WjFbANosXcSwaMQzdtE6uMCavA2P2Nm1hXM/0xSWiHiyDd7+de1rny9UQJBAN5U22bvR2AsAcKMRxH/vOUL4YA0K0W6G3B8C9G4HE3B2Lb1CmufstTx5SpkJY72sr4lHC8FJZ70sDv5SIKxRv8CQQDPZGgr0Sh1OMpUBvD/0ajJ1hnWZ43p0HmJIOF81aE50NpigLHgwFvEmKZtWiMGZu2SuEY0ZNxuf0Y695ocMc8vAkAeET3Gsu9lKy5lwBDQd1R1aWDqtKNxf5S8Zpo2l36EaYXEYGkzWtqVf80tKXQG3IgZvO0N0tVepNq8kZ7jxdPDAkEAkbga+a6cnsCoaSH3c8f8sNSekudv7zlsK83Oocf44Ia+6zdBxIlj8V7QkUUkFvt7MfwIWAgGWh1TW1teDTFyQQJAMDmusDcV0jV34NBJ1w2bJLaJ2+9WSqJITO7iWDnrsqCdacNI5MS0cv4gTei43DtYQKpxrSl8taAhKsqwZO5c+g==</PrivateKey>
  <Seller>cbaohai@126.com</Seller>
  <PayFee>5</PayFee>
  <FreeMoney>100</FreeMoney>
</PluginSetInfo>