<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    @RenderSection("header", false)
</head>
@*url('/images/bg.jpg') no-repeat*@
<body style="background:#fff; background-size: 100% 100%;">
    @RenderSection("body")

    @Html.Partial("_footer")
</body>
</html>
