<?xml version="1.0" encoding="utf-8"?>
<PluginSetInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <WPMchId></WPMchId>
  <WPAppId></WPAppId>
  <WPAppSecret></WPAppSecret>
  <WPAppKey></WPAppKey>
  <OpenMchId>1397743702</OpenMchId>
  <OpenAppId>wx65f5c62b2654a4d5</OpenAppId>
  <OpenAppSecret>76ba961a6b4d7ea20b2e5ae2c1919ea8</OpenAppSecret>
  <OpenAppKey>xohemglnlhagmhidhiopdermnhxxxxxs</OpenAppKey>
</PluginSetInfo>