<?xml version="1.0"?>
<BaseConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <BaseList>
      <BaseInfo>
        <Key>luckkey</Key>
        <Name>幸运值</Name>
        <Account>56%</Account>
      </BaseInfo>
      <BaseInfo>
        <Key>invitecode</Key>
        <Account>4903</Account>
        <Name>邀请码</Name>
      </BaseInfo>
    </BaseList>
</BaseConfigInfo>