<?xml version="1.0"?>
<BaseConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <BaseList>
    <BaseInfo>
      <Key>支付宝</Key>
      <Name />
      <Account />
      <Bank />
      <BankAddress />
    </BaseInfo>
    <BaseInfo>
      <Key>银行卡</Key>
      <Name />
      <Account />
      <Bank />
      <BankAddress />
    </BaseInfo>
    <BaseInfo>
      <Key>微信</Key>
      <Image>img_1612300958212800118.png</Image>
    </BaseInfo>
    <BaseInfo>
      <Key>北京28</Key>
      <Name>是否暂停投注</Name>
      <Account>是</Account>
    </BaseInfo>
    <BaseInfo>
      <Key>加拿大28</Key>
      <Name>是否暂停投注</Name>
      <Account>是</Account>
    </BaseInfo>
    <BaseInfo>
      <Key>关于配置</Key>
      <Name>www.yypc28.me</Name>
      <Account>123456789</Account>
      <Bank>pcddmm</Bank>
      <BankAddress>1.0</BankAddress>
      <Image>img_1701061723419805316.png</Image>
    </BaseInfo>
    <BaseInfo>
      <Key>盈利数据</Key>
      <Name>693130</Name>
      <Account>3235</Account>
      <Bank>94%</Bank>
    </BaseInfo>
  </BaseList>
</BaseConfigInfo>