<?xml version="1.0"?>
<EmailConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Host>smtp.qq.com</Host>
  <UserName></UserName>
  <Password></Password>
  <From></From>
  <FromName>/Scripts/</FromName>
  <FindPwdBody>&lt;p&gt;{shopname}{siteurl}{username}{deadline}{url}&lt;/p&gt;</FindPwdBody>
  <SCVerifyBody>&lt;p&gt;{shopname}{siteurl}{username}{deadline}{url}&lt;/p&gt;</SCVerifyBody>
  <SCUpdateBody>&lt;p&gt;{shopname}{siteurl}{username}{deadline}{url}&lt;/p&gt;</SCUpdateBody>
  <WebcomeBody>&lt;p&gt;{shopname}{regtime}{email}&lt;/p&gt;</WebcomeBody>
</EmailConfigInfo>