<?xml version="1.0"?>
<EventConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <BSPEventState>1</BSPEventState>
  <BSPEventPeriod>10</BSPEventPeriod>
  <BSPEventList>
    <EventInfo>
      <Key>dellog</Key>
      <Title>清除日志</Title>
      <TimeType>1</TimeType>
      <ExcuteType>1</ExcuteType>
      <TimeValue>168</TimeValue>
      <ClassName>OWZX.EventStrategy.Timer.DelLogEvent,OWZX.EventStrategy.Timer</ClassName>
      <LogUrl></LogUrl>
      <Code />
      <LastTime></LastTime>
      <Enabled>0</Enabled>
    </EventInfo>
  </BSPEventList>
</EventConfigInfo>