<?xml version="1.0" encoding="utf-8"?>
<SMSConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Url>http://115.29.194.198/api/http</Url>
  <App_Key></App_Key>
  <App_Secret></App_Secret>
  <UserName>河南千古网络科技有限公司</UserName>
  <!--河南千古网络科技有限公司-->
  <Password>qgwl123</Password>
  <FindPwdBody>找回密码{mallname}{code}</FindPwdBody>
  <SCVerifyBody>安全中心验证校验码{mallname}{code}</SCVerifyBody>
  <SCUpdateBody>安全中心更新手机校验码{mallname}{code}</SCUpdateBody>
  <WebcomeBody>欢迎注册{mallname}{regtime}{mobile}</WebcomeBody>
</SMSConfigInfo>