@{
    ViewBag.Title = "expand";
}

<html lang="en">
<head>
    <title>黑米壳</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <meta name="description" content="不超过150个字符" />
    <meta name="keywords" content="" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="robots" content="index,follow" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="HandheldFriendly" content="true">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name ="title"  content=""   />
    <meta name ="mobile-web-app-capable"  content="yes">
        <style type="text/css">
            * {
                margin: 0;
                padding: 0;
                font-family: "黑体";
            }

            body {
                background: #FFD879;
                overflow-x: hidden;
            }

            form {
                width: 100%;
                margin-top: -43%;
            }

                form input[type="text"] {
                    width: 50%;
                    height: 3.5rem;
                    border-radius: 8px;
                    border: none;
                    outline: none;
                    text-align: center;
                    font-size: 1.2rem;
                    padding: 0 10px;
                }

                form p {
                    width: 80%;
                    margin: 0rem auto 2rem;
                    border: 1px solid red;
                }

                form input[type="button"] {
                    border: 1px solid white;
                    background: transparent;
                    color: white;
                    font-size: 1.2rem;
                    outline: none;
                    z-index: 1000;
                    width: 35%;
                    margin-left: 6%;
                    height: 3.5rem;
                    border-radius: 8px;
                }

                form input[type="submit"] {
                    border: 1px solid #a93802;
                    background: #ffa200;
                    color: white;
                    font-size: 1.2rem;
                    outline: none;
                    z-index: 1000;
                    width: 35%;
                    margin-left: 6%;
                    height: 3.5rem;
                    border-radius: 8px;
                }
                form input[type="button"]:hover  {cursor:pointer;
                }
        </style>
        <script type="text/javascript" src="/scripts/jquery.js"></script>
        <script type="text/javascript" src="/scripts/resize.js"></script>

        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
</head>
<body>
    <div class="container">
        <img src="/images/H5.jpg" width="100%" onclick="return false">
        @using (Html.BeginForm())
        {
            <input type="hidden" id="paccount" name="paccount" value="@ViewData["account"]" />
            <p class="phoneNum">
                <input type="text" name="account" id="account" placeholder="请输入手机号领取" maxlength="11" /><input type="button" id="btn_send" value="获取验证码" />
            </p>
            <p class="sub">
                <input type="text" name="code" id="code" placeholder="请输入验证码" maxlength="6" /><input type="button" id="btn_sub" value="领取" />
            </p>
        }
        <img src="/images/H53.jpg" width="100%" style="margin-top: 10px;margin-bottom: 1rem;" onclick="return false">
    </div>
    <script>
        var wait = 60;
        function time(o)
        {
            if (wait == 0)
            {
                o.removeAttribute("disabled");
                o.value = "获取验证码";
                wait = 60;
            } else
            {
                o.setAttribute("disabled", true);
                o.value = "重新发送(" + wait + ")";
                wait--;
                setTimeout(function ()
                {
                    time(o)
                },
                1000)
            }
        }
        $(function ()
        {
            $("#btn_send").click(function ()
            {
                if ($("#account").val() == "")
                    return;
                time(this);
                $.post("/home/validate", { "paccount": $("#paccount").val(), "account": $("#account").val() }, function (data)
                {
                    var result = eval("(" + data + ")");
                    if (result.state == "success")
                    {
                        layer.msg(result.content);
                    }
                    else
                    {
                        wait = 0;
                        if (result.content == "99")
                        {
                            //$("#hmkdw").css("display", "block"); $(".phoneNum").css("display", "none");
                            //$(".sub").css("display", "none");
                            window.location.href = "/home/download";
                        } else
                        {
                            layer.msg(result.content);
                        }
                    }
                })
            });
            $("#btn_sub").click(function ()
            {
                if ($("#account").val() == "")
                    return;
                if ($("#code").val() == "")
                    return;
                $.post("/home/expand", { "code": $("#code").val(), "account": $("#account").val() }, function (data)
                {
                    var result = eval("(" + data + ")");
                    if (result.state == "success")
                    {
                        wait = 0;
                        //$("#hmkdw").css("display", "block"); $(".phoneNum").css("display", "none");
                        //$(".sub").css("display", "none");
                        window.location.href = "/home/download";
                    }
                    else
                    {
                        wait = 0;
                        layer.msg(result.content);
                    }
                })
            });
        })
    </script>
    <link href="/components/layer/skin/layer.css" rel="stylesheet" />
    <script src="/components/layer/layer.js"></script>
</body>
</html>
