/*@webSir Css*/
*{ margin:0;padding:0;}
* html body{ overflow:visible;-webkit-text-size-adjust:none;}
* html iframe, * html frame{ overflow:auto;}
* html frameset{ overflow:hidden;}
body{ font:12px/22px 'Microsoft Yahei',Verdana,Arial,sans-serif,"Times New Roman"; text-align:center;word-wrap:break-word;color: #666; 
 overflow-y:scroll;
}
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,tr{ margin:0; padding:0;   }
input,select,textarea{ font-size:12px; vertical-align:middle;}
body div{ text-align:left;}
textarea,input{ word-wrap:break-word; word-break:break-all; padding:0px;}
ul,ol,li { list-style-type:none;}
img{ border:0 none;}
a:hover{ color:#d23335;}
 
a:link, a:visited{ text-decoration:none; color:#666;}
a { outline:none;color:#000;}
h1{ font-size:24px;}
h2{ font-size:20px;}
h3{ font-size:18px;}
h4{ font-size:16px;}
h5{ font-size:14px;}
h6{ font-size:12px;}
i,em{ font-style:normal;}
s{text-decoration:none;}
.hide{ display:none;}
.edit{position:relative;}
.clear{ clear:both;}
.left{ float:left;}
.right{ float:right;}
.bold{ font-weight: bold;}
.cblock{ color: #000;}
.font10{ font-size: 10px;}

.pLeft10{ padding-left: 10px;}
.pLeft20{ padding-left: 20px;}
.pRight10{ padding-right: 10px;}
.pRight20{ padding-right: 20px;}
.mLeft10{ margin-left:  10px;}
.mLeft20{margin-left: 20px;} 
.mRight10{ margin-right: 10px;}
.mRight20{ margin-right: 20px;}.mRight15{ margin-right: 15px;}
.mRight40{ margin-right: 40px;}
html body .show{ display:block;}
.bigBox{ width:100%; text-align:center;}
.box{ width:1000px; margin:0 auto; text-align:left;}
html body .Fblue{ color:#005AA0;}
html body .Fred{ color:#E4393C;}
.borDDD{ border:1px solid #DDD;}
.textindent5 {
    text-indent: 5px;
}
html body .redBT{padding: 1px 10px;background: #e03033;color: #FFF;border: 1px solid #c5272c;}
html body .whiteBT{padding: 1px 10px;background: #FFF;color: #666;border: 1px solid #ddd;}
html body .greenBT{padding: 1px 10px;background: #FF6B6B;color: #FFF;border: 1px solid #FF6B6B;}
html body .greenBT:hover{background: #E4393C;}
html body .grayBT{padding: 1px 10px;background: #f5f5f5;color: #333;border: 1px solid #ddd;}
input[type="button"], input[type="submit"] {
    cursor: pointer;
    outline: none;
}
.radio{ vertical-align:-2px;}

#headerBar{ height:50px; line-height:30px; background:#363636;     color: #b0b0b0;border-bottom:1px solid #d8e1e6;}
#headerBar a{ color:#b0b0b0;}
#headerBar a:hover{ color:#d23335;}
#headerBar .box{ position:relative;}
#headerBar .headerLink{ position:absolute; right:0; top:0;    line-height: 50px; font-size: 14px;}
#imglogo{ width:1000px;margin:0 auto;text-align:center;height:74px; overflow:hidden;display: block; }
.headerAD{ padding-top:10px; position:relative;}
.headerAD .close{ position:absolute; right:0px; top:10px; background:#FFF; border:1px solid #DDD; display:block; width:20px; height:20px; line-height:16px; font-size:14px; text-align:center; background:#333; color:#FFF;}
.headerAD .close:hover{ background:#FFF; color:#333;}

#header{ height:114px; background:#FFF;}
.logo{ width:285px;}

#header1{ padding-top:30px;}

#searheader{
	width: 1000px;
	margin: 0 auto;
}

#searheader .logo,.search,.REP{
	float: left;
}
.search {
height:36px;margin-top:10px; margin-left:94px;
}

.box .searchCon .Stext{ float:left; width:300px; height:32px; line-height:32px; border:2px solid #00AF62; font-size:14px; color:#999; outline:none; padding-left:15px;}
.searchCon .Sbutton{ float:left;height:36px; line-height:36px; background:#00AF62; border:0; color:#FFF; font-weight:bold; width:70px; font-size:14px; outline:none; cursor:pointer;}
.searchHot{ padding-top:5px;}
.searchHot,.searchHot a{ color:#7a7a7a;}
.searchHot a:hover,.searchHot a.hot{ color:#e33a3c;}


.shopping{ padding-top:10px; position:relative;z-index:999; background:url(/images/bgW.jpg) repeat-x bottom;}
.shopping h2{ font-size:14px; font-weight:normal; height:32px; line-height:32px; border:1px solid #e7e7e7; color:#666666; background:url(/images/shopping.png) no-repeat 10px center; width:120px; padding-left:35px; position:relative; cursor:pointer;}

.shopping h2 b{ display:block; position:absolute; right:0; top:0; width:42px; height:32px; line-height:32px; text-align:center; font-size:12px; border-left:1px solid #ddd;color:#666; font-weight:bold;}

.shopping .ci-count {
    position: absolute;
    top: -4px;
    left: 104px;
    display: inline-block;
    padding: 1px 2px;
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    background-color: #c81623;
    border-radius: 7px 7px 7px 0;
    min-width: 12px;
    text-align: center;
}

.shopping .ci-right {
    top: 11px;
    right: 10px;
    width: 7px;
    height: 13px;
    overflow: hidden;
    font: 400 13px/13px simsun;
    color: #999;
    margin-left:10px;
}

.shoppingList{position:absolute; top:36px; right:0; width:350px; background:#FFF; padding-top:15px; border:1px solid #e1e1e1;}
.shoppingT{ font-size:12px; font-weight:bold; padding:0px 0px 10px 15px; }
.shoppingList .loding{ text-align:center; padding-bottom:15px;}
.shoppingList  .shoppingNone{text-align:center; background:url(/images/shoppingNone.gif) no-repeat left top; margin-left:46px; padding:10px 0 10px 30px; height:49px; line-height:49px;}

.shoppingList .cartSnap{ max-height:320px;_height:expression((document.documentElement.clientHeight||document.body.clientHeight)<320?"320px":""); overflow-y:auto;}
.shoppingI{ margin-left:10px; padding:3px 0px; border-top:1px dotted #e1e1e1; }
.shoppingList .ZP{ color:#999; padding:3px 0; border-bottom:1px dotted #ddd; height:25px; line-height:25px; overflow:hidden; display:block;}
.shoppingList .ZP1{ color:#999; padding:1px 0;height:25px; line-height:25px; overflow:hidden; display:block;}

.shoppingList .cartSnap a:hover{ text-decoration:underline;}
.shoppingJS{ padding:10px 0; text-align:right; border-top:1px dotted #e1e1e1; background-color:#f5f5f5;}
.shoppingJS strong{margin: 0 5px;color: #E4393C;}
.shoppingJS b{font-size: 18px;color: #E4393C;}


.shoppingList h3{ font-weight:normal; position:relative; font-size:12px; background:#d2ebff; padding:2px 5px 2px 10px;}
.shoppingList h3 .bgMZ{background:#f60; color:#FFF; padding:0 2px;}
.shoppingList h3 p{ position:absolute; right:5px; bottom:2px;}
.shoppingList h3 a{ color:#005EA7;}
.shoppingList h3 a:hover{ text-decoration:underline;}
.shoppingList .shoppingI img{ float:left; margin-right:5px;}
.shoppingList .shoppingI em{ display:block; float:left;width:248px; height:40px; overflow:hidden;}
.shoppingList .shoppingI b{ color:#e33b3d;display:block; width:248px;float:left; position:relative;}
.shoppingList .shoppingI b span{ color:#666; font-weight:normal;}
.shoppingList .shoppingI b a{ position:absolute; right:0; font-weight:normal; color:#005EA7;}
.shoppingList .shoppingI b a:hover{ text-decoration:underline;}
.shopping .goPay{ border:1px solid #e1e1e1; padding:4px 20px; background:#e33b3d; color:#FFF; font-weight:bold;}
.shopping .clearList{border:1px solid #e1e1e1; padding:4px 10px;}

.fullSendSnap .left{ display:block; float:left; margin-left:10px; width:260px; overflow:hidden;}
.fullSendSnap .right a{ display:block; float:right; margin-right:6px; padding-top:4px; font-weight:normal; color:#005EA7; }
.fullSendSnap .right a:hover{ text-decoration:underline;}


/*导航*/
/*#nav{ background:#da383a;} #cc0000*/
#navs {background: #b0b0b0;}

#navItme{ width:1000px;margin:0 auto;text-align:center;height:45px; overflow:hidden;display:block; }
#navItme  li{ display:inline-block;width:125px;    margin-top: 25px;}
#navItme  li a{
    width:100%;
    color: #333333; 
    padding-left: 2px 10px 5px;
    text-align:center;
    height:40px;
    line-height: 40px !important;font-size:15px;}
    #navItme li:hover {
    cursor:pointer;
    }
#navItme li:hover,#navItme li a:hover,#navItme li.hot,#navItme li .hot{ color:#990000;}
.active_head {}
.active_head a{ color: #fe8700!important;border-bottom: 2px solid #ff8700 !important;}
#navItme li a.index {background: url(../images/ico.png);background-position: -2px -121px;padding:2px 10px 5px;}


#footer{ width:100%;  background:bottom #FFF; /*margin-top:40px;*/}
#footer .box{ width:1000px; padding-left:46px;}
.footerBox{ padding:18px 0;}

.footerBox{ float:left; padding-left:52px; width:148px;}
.footerBox h3{ font-size:14px; color:#e33b3d;}
.footerBox a{ color:#6a6a6a; display:block;}
.footerBox a:hover{color:#e33b3d;}


.footerB{ /*border-top:1px solid #cacaca;*/ padding-top:10px;}
#footerB{padding-bottom:30px;text-align:center}
#footerB div{text-align:center}
#footerB .links { text-align:center;color:white;}
#footerB .links a,#footerB .links span{margin:0 10px;color:white;}
#footerB .links span a{margin:0}
#footerB .copyright{margin:10px 0; text-align:center;}


.breadcrumb{height:35px; line-height:35px;padding:0 0 4px 6px;overflow:hidden; padding-top:5px;}
.breadcrumb strong,.breadcrumb h1{display:inline;font-weight:700;line-height:20px;font-size:16px;font-family:"microsoft yahei"; font-weight:normal;}
.breadcrumb a{color:#666}
.breadcrumb a:hover{color:#e4393c; text-decoration:underline;}

/*通用产品列表*/

.proList li{}
.proList li a{ color:#666;}
.proList li a:hover{color:#E4393C}
.proList li em{ display:block; line-height:1.5em; height:1.5em; overflow:hidden; padding-top:3px;}
.proList li b{ color:#e33b3d; display:block;padding-top:3px;}

.proList .info{ text-align:right; height:20px; position:relative;}
.proList .info a{ color:#005aa0;}
.proList .info a:hover{ text-decoration:underline;}
.proList .star{position:absolute; left:0; top:0;}
.star{ background:url(/images/20130603A.png) no-repeat left -72px; height:18px; width:80px; overflow:hidden;}
.star_yellow{ background:url(/images/20130603A.png) no-repeat left -89px; display:block;height:18px;}
.proList .info2{ height:25px; line-height:25px; margin-top:5px; position:relative;}
.proList .info2 .addShopping{border: 1px solid #ddd;border-radius: 2px;color: #333;background:-moz-linear-gradient(top,#f7f7f7,#f2f2f2);background:-webkit-gradient(linear,0 0,0 100%,from(#f7f7f7),to(#f2f2f2));filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7f7f7", endColorstr="#f2f2f2");-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7f7f7", endColorstr="#f2f2f2")"; padding:0 10px; height:18px; line-height:18px; position:absolute; right:0; top:2px;}
.proList .info2 .addShopping:hover{text-decoration:none;}
.proList .info2 span{ cursor:pointer; }
.page{ padding:15px 0; clear:both; text-align:center;}
.page a{ display:inline; padding:3px 10px; background:#FFF; border:1px solid #cccccc; color:#005aa0;}
.page a:hover,.proList .page a.hot,#memberR .page a.hot{ border:1px solid #e4393c; color:#e4393c;}

.prompt{ color:#7ABD54; font-size:24px; height:80px; line-height:80px;text-align:center; margin-top:30px;}

