li{
	list-style:none; }
a{
	text-decoration: none;
}

.basecontent{ z-index: 2; width: 1000px; margin:0 auto; }
.basecontent .title{/*line-height: 24px;height: 24px;*/padding: 12px 0px;font-size: 16px;font-weight: bold;color: #000;}
.title img{  vertical-align:bottom;}
.title .more{ font-size: 12px;color: #e43846;cursor: pointer;float: right;}

.basecontent .news { padding: 10px 5px 5px 10px;height: 309px;}
.basecontent .news li{ height: 24px;line-height: 24px;cursor: pointer;}
.goods img{ margin:0;float: left;}

.games img{ margin-left:14px;cursor: pointer;}
.switch_over,.DL_ZC,.TEL{
	float: left;
}
.switch_over{
	margin-left: 72px;
}
.DL_ZC{
	margin-left: 796px;
}
.TEL{
	margin-left: 38px;
}
 
.order .Message{
	text-align: left;
    margin-left: 24px;
	margin-top: 20px;}
.order .Message ul li {
    height: 55px;
    line-height: 55px;
}
.order .Message ul li input{
	width: 250px;
	height: 34px;
    font-size: 13px;
	border: 1px solid #ebebeb; 
	outline: medium; }

/*.order .Message ul li em {
            float: left;
            margin-right: 3px;
            width: 15px;
            height: 15px;
            position: relative;
            top: 4px;
            background: url('../images/error.png') no-repeat;
            overflow: hidden;
        }*/
.order .reg {float: right; color: #ffffff; cursor: pointer;}
.order .reg:hover{ color: #E23B45;}
.order .reserve {
   cursor:pointer; border: none;background:#E43846; width:255px;color:#ffffff;padding:0;margin-top:12px;font-size: 16px;font-weight: bold; letter-spacing: 8px;
}
.order .reserve:hover {
    cursor:pointer;background:#d23335;
}
.order .contact a:hover {
    cursor:pointer;color:#d23335;
}
.orderli {
    height: 35px !important;
    line-height: 35px !important;
    margin: 3px 0 0 0;
    border: 1px solid #999;
    color: white;
}
.orderli span {
    float: left;
    width: 60px;
    text-align: center;
    border-right: 1px solid #ccc;
    height: 35px;
    line-height: 35px;
}
.orderli i {
    font-style: normal;
    width: 139px;
    text-align: center;
    float: left;
}
.orderli i em{
        background: url(../../images/yuanbao.png) no-repeat right center;
        background-size:20px 13px;
        display: inline-block;
        padding-right: 20px;
        font-style: normal;
    }
.FAB ul li h6{
	font-size: 12px;
	color: #666666;
	margin-top: 12px;}
#BRP img{
	margin-top: 27px;
	margin-bottom: 10px;}
#BRP p a{
	font-size: 13px;
	color: #666666;
}
#BRP p a:hover{
	color:#f25618;
	text-decoration:underline;
}
#MAR .MAR_JC li{
	width:47px;
	float:left;
	margin-bottom: 16px;
	text-align:center;
}
#MAR .MAR_JC a:hover{
	color:#f25618;
	text-decoration:underline;
}
#MAR .MAR_CX a:hover{
	color:#f25618;
	text-decoration:underline;
}
#MAR li a:hover{
	color:#f25618;
	text-decoration:underline;
}
#MAR .MAR_JC li a{
	color: #666666;
	font-size: 12px;
}
#MAX .MAX_CY table tr td span img{margin-top: -2px;border: 1px solid red;}
#MAX .MAX_CY ul li{
	color:#e81a62;
}

/*xin*/
.new_public {
    width: 1100px;
    height: 290px;
    margin: 0 auto;
    text-align: center;
}
.new_title {
    font-size: 24px;
    color: #393939;
    font-weight: 700;
    margin-top: 41px;
}
.tit {
    font-size: 20px;
    font-weight: normal;
    color: #393939;
    margin-top: 15px;
    letter-spacing: 1px;
    padding-bottom: 30px;
}

.new_left {
    width: 1100px;
    float: left;  
}
.list_new {
    width: 550px;
    cursor:pointer;
    padding-left: 120px;
    margin-top: 25px;
    font-size: 14px;
    color: #393939;
    text-align: left;
    box-sizing: border-box;
    float: left;
}
.prize {
    width: 1100px;
    margin: 0 auto;
    height: 362px;
    text-align: center;
    overflow: hidden;
}
.prize_title {
    font-size: 24px;
    color: #393939;
    font-weight: 700;
    margin-top: 30px;
}
.tit {
    font-size: 20px;
    font-weight: normal;
    color: #393939;
    margin-top: 15px;
    letter-spacing: 1px;
    padding-bottom: 30px;
}
.prize_li {
    cursor:pointer;
    width: 268px;
    height: 200px;
    margin-left: 8px;
    float: left;
    position: relative;
    line-height: 200px;
    text-align: center;
    overflow: hidden;
     vertical-align: top; 
}
 
.left_clear {
    margin-left: 0px!important;
}
.prize_li img {
    width: 268px;
    height: 200px;
     vertical-align: middle; 
}
.lucency {
    width: 300px;
    height: 200px;
    opacity: 0.7;
    background: #030a36;
     margin-top: -380px; 
    position: absolute;
    top: 0px;
    display: none;
}
.prize_font {
    font: 24px FZLTXHK;
    color: #ffffff;
    font-weight: normal;
    text-align: center;
    position: relative;
    top: -235px;
     margin-top: -25px; 
    display: none;
     line-height: 220px; 
}

.game {
    width: 1100px;
    margin: 0 auto;
    min-height: 400px;
    text-align: center; 
}
.game_title {
    font-size: 24px;
    color: #393939;
    font-weight: 700;
    margin-top: 30px;
}
.game_li {
     cursor:pointer;
    width: 210px;
    height: 190px;
    margin-left: 12px;
    float: left;
    position: relative;
    line-height: 190px;
    text-align: center;
    overflow: hidden;
     vertical-align: top; 
}