li{
	list-style:none; }
a{
	text-decoration: none;
}

.basecontent{ z-index: 2; width: 1000px; margin: auto; }
.basecontent .title{line-height: 24px;height: 24px;padding: 12px 0px;font-size: 16px;font-weight: bold;color: #000;}
.title img{  vertical-align:bottom;}
.title .more{ font-size: 12px;color: #e43846;cursor: pointer;float: right;}

.basecontent .news { padding: 10px 5px 5px 10px;height: 309px;}
.basecontent .news li{ height: 24px;line-height: 24px;cursor: pointer;}
.goods img{ margin:0;float: left;}

.games img{ margin-left:14px;cursor: pointer;}
.switch_over,.DL_ZC,.TEL{
	float: left;
}
.switch_over{
	margin-left: 72px;
}
.DL_ZC{
	margin-left: 796px;
}
.TEL{
	margin-left: 38px;
}

/*#header .nav .a1 li{
	float: left;
	padding: 12px 45px;
}
#header .nav ul li a{
	color: #1f1f1f;
	font-size: 16px;
}
#header .nav ul li a:hover{
	
	color: #ffffff;

}
#header .nav ul li:hover{
	background: #00af62;
	color: #ffffff;

}
#header .nav .sub_nav{
	float:left;
	display: none;
}*/ 
#order .Message{
	text-align: left;
    margin-left: 24px;
	margin-top: 20px;}
#order .Message ul li {
    height: 55px;
    line-height: 55px;
}
#order .Message ul li input{
	width: 250px;
	height: 34px;
    font-size: 13px;
	border: 1px solid #ebebeb; 
	outline: medium; }

#order .Message ul li em {
            float: left;
            margin-right: 3px;
            width: 15px;
            height: 15px;
            position: relative;
            top: 4px;
            background: url('../images/error.png') no-repeat;
            overflow: hidden;
        }
#order .reg {float: right; color: #ffffff; cursor: pointer;}
#order .reg:hover{ color: #E23B45;}
#order #reserve {
   cursor:pointer; border: none;background:#E43846; width:255px;color:#ffffff;padding:0;margin-top:12px;font-size: 16px;font-weight: bold; letter-spacing: 8px;
}
#order #reserve:hover {
    cursor:pointer;background:#d23335;
}
#order .contact a:hover {
    cursor:pointer;color:#d23335;
}
.FAB ul li h6{
	font-size: 12px;
	color: #666666;
	margin-top: 12px;}
#BRP img{
	margin-top: 27px;
	margin-bottom: 10px;}
#BRP p a{
	font-size: 13px;
	color: #666666;
}
#BRP p a:hover{
	color:#f25618;
	text-decoration:underline;
}
#MAR .MAR_JC li{
	width:47px;
	float:left;
	margin-bottom: 16px;
	text-align:center;
}
#MAR .MAR_JC a:hover{
	color:#f25618;
	text-decoration:underline;
}
#MAR .MAR_CX a:hover{
	color:#f25618;
	text-decoration:underline;
}
#MAR li a:hover{
	color:#f25618;
	text-decoration:underline;
}
#MAR .MAR_JC li a{
	color: #666666;
	font-size: 12px;
}
#MAX .MAX_CY table tr td span img{margin-top: -2px;border: 1px solid red;}
#MAX .MAX_CY ul li{
	color:#e81a62;
}

