
/*头部*/
#ltheader,#ltnavs,.content{
    height: 55px;
    line-height: 30px;
    width: 1000px;
    margin: 0 auto;
    overflow:hidden;
}
#ltnavs {
 height:47px;
 border-bottom:1px solid #c30000;
}
#ltnavs{
    width:910px;
    padding-bottom:5px;
}
#ltItme {

border-bottom:1px solid #c30000;
}
    #ltheader #ltItme li {
        display: inline-block;
        text-align:center;
        clear: both;
    }

        #ltheader #ltItme li a div {
            width: 80px;
            height: 32px;
            line-height:32px;
            border: 1px solid #c30000;
            border-radius: 10px;
            text-align: center;
            margin:10px 7.5px 10px 7px;
            font-size:14.5px;
            /*font-weight:bold;*/
        }
            #ltheader #ltItme li a div.hot {background:#e4393c;color:white;
            }
/*内容*/
.content {
height:auto;
width:910px;
}
.sec_head {
    height:40px;
}

.sec_head a:hover, .sec_head a.hot {
        color:#e4393c;
    }

 /*#tbhead {
    height:40px;
}
#tbhead tr {
border-bottom:2px solid #ECECEC;
}*/

.dv {
display:inline-block;width:910px;margin-bottom:10px;
}
.ltnumber {
width:20%;display:block;float:left;
text-align:center;color:white;height:75px;vertical-align:middle;
background-image:url(../images/ltnumber.png);

}
.ltresult {color:#c30000;font-weight:bold;font-size:20px;}

.pcresult {
    background:rgba(0, 0, 0, 0) url(../images/number/lottery.fw.png) no-repeat scroll 0 0;height:32px;width:32px;
    color:#fff;text-align:center;display:inline-block;line-height:32px;text-indent:0;
}


.ltwarn {color:#c30000;font-size:15px;font-weight:600;}
.ltnum1 {
color:#0167ff;font-size:15px;
}
.ltnum2 {
color:#ECA101;font-size:15px;
}
.ltnum3 {
color:#e4393c;font-size:15px;
}

.dv i {
color:#000;
font-weight:600;
font-size:15px;
padding:0 3px;
}


/*table*/
.lot_content table {
width:910px; border:0;
}

#play i {
    font-size:16px;font-weight:600;color:#c30000;
}

#play td,.table_rule td {
background:#FFFFFF;text-align:center;}

.table_rule td {
border:1px solid #cacaca;
}

    .table_rule td .finalbig {
        font-style: normal;
        color: #fff;
        font-size: 21px;
        background: url('../images/number/lottery.fw.png') no-repeat;
        display: inline-block;
        width: 32px;
        height: 32px;
        text-indent: 0;
        line-height: 32px;
        text-align: center;
    }
.table_rule tr {
height:40px;
}
#trhead,#trhead td {
    background:#E0E0E0;
}

#play .ltoperate {
background:#e4393c;color:white;border-radius:40px;text-align:center;width:80%;margin:3px auto;font-weight:bold;font-size:14px;
}

.ltclose {color:#666;border-radius:40px;text-align:center;width:80%;margin:3px auto;font-weight:bold;font-size:14px;
box-shadow:2px 3px 3px 3px  rgba(0,0,0,.3) inset;
}
